.row {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    width: 200px;   
}

.scheduleDay {
    width: 150px;
    min-height: 100px;
    max-height: 150px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}